ACCEPTED_REPO: /home/alech/devel/opencorn/testing/accepted
ACCEPTED_SIGNED_REPO: /home/alech/devel/opencorn/testing/accepted_signed
REVOCATION_REPO: /home/alech/devel/opencorn/testing/revocation
PINPAD: true
GNUPGHOME: /home/alech/devel/opencorn/testing/gpghome
MAIL_FROM: opencorn@yourhackerspace.net
ETC: /home/alech/devel/opencorn/etc
SECRETSHARING_K: 3
LOGKEY_EXPIRY: 1m
GNUPGHOME_LOG: /home/alech/devel/opencorn/testing/gpghome_log
